<footer class="bg text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footerinfo">
          <h5 class="text-uppercase">View Different Month</h5>
  
          <p>
            The green "Change Month" button on the homepage allows you to switch views between months. A selected month's landing page includes the total cost of all stores for that month with the totals for each individual store below (underlined in green). If you want to view more order details there is a button for each store which routes to that stores data table. 
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footerinfo">
          <h5 class="text-uppercase">View By Store</h5>
  
          <p>
            If you want to view each individual store's orders in more detail, you can click the store name next to the arrow in the section below the monthly total. Simply click the "back button" to return to that month's total.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #3A4149; color: white;">
      © 2021 Copyright:
      <a class="text-light" href="https://inkpressions.com/">InkPressions.com</a>
    </div>
    <!-- Copyright -->
  </footer>
