<app-navbar></app-navbar>

<div class="container">
  <div class="col-lg">
    <div class="month-container">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle month-btn"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Change Month
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/home">January</a>
          <a class="dropdown-item" routerLink="/febtotal">February</a>
          <a class="dropdown-item" routerLink="/marchtotal">March</a>
          <a class="dropdown-item" routerLink="/apriltotal">April</a>
          <a class="dropdown-item" routerLink="/maytotal">May</a>
          <a class="dropdown-item" routerLink="/junetotal">June</a>
          <a class="dropdown-item" routerLink="/july">July</a>
        </div>
      </div>
    </div>
    <a class="store-link" href="#footer"
      ><h6 class="store-header">June Total</h6></a
    >

    <h2 class="store-totalx">$8,506.60</h2>
  </div>
</div>
<div class="container">
  <h6 class="by-store">June By Store</h6>
</div>

<div class="container master">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="arrow">
          <a class="store-link" routerLink="/juneamazon"
            ><h6 class="store-header">Amazon</h6></a
          >
          <img class="r-arrow" src="./assets/rightarrow.svg" alt="" />
        </div>
        <h2 class="store-total">$7,399.60</h2>
        <div class="divider"></div>
      </div>
      <div class="col-md">
        <div class="arrow">
          <a class="store-link" routerLink="/junecapes"
            ><h6 class="store-header">Capes.com</h6></a
          >
          <img class="r-arrow" src="./assets/rightarrow.svg" alt="" />
        </div>
        <h2 class="store-total">$256.00</h2>
        <div class="divider"></div>
      </div>
      <div class="col-md">
        <div class="arrow">
          <a class="store-link" routerLink="/junetvso"
            ><h6 class="store-header">TVSO</h6></a
          >
          <img class="r-arrow" src="./assets/rightarrow.svg" alt="" />
        </div>
        <h2 class="store-total">$39.50</h2>
        <div class="divider"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- <div class="row"> -->
    <!-- <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/tvso"><h6 class="store-header">TVSO</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
              <h2 class="store-total">$12.00</h2>
              <div class="divider"></div>
            </div> -->
    <!-- <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/manual"><h6 class="store-header">Manual Orders</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
             
                <h2 class="store-total">$141.52</h2>
                <div class="divider"></div>
            </div>
          </div> -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="arrow">
          <a class="store-link" routerLink="/junemaskmarket"
            ><h6 class="store-header">Mask Market</h6></a
          >
          <img class="r-arrow" src="./assets/rightarrow.svg" alt="" />
        </div>
        <h2 class="store-total">$2.25</h2>
        <div class="divider"></div>
      </div>
      <div class="col-md">
        <div class="arrow">
          <a class="store-link" routerLink="/junecostumeagent"
            ><h6 class="store-header">Costume Agent</h6></a
          >
          <img class="r-arrow" src="./assets/rightarrow.svg" alt="" />
        </div>

        <h2 class="store-total">$2.25</h2>
        <div class="divider"></div>
      </div>
      <div class="col-md">
        <div class="arrow">
          <a class="store-link" routerLink="/juneetsy"
            ><h6 class="store-header">Etsy - SugarPlumLiam</h6></a
          >
          <img class="r-arrow" src="./assets/rightarrow.svg" alt="" />
        </div>

        <h2 class="store-total">$795.00</h2>
        <div class="divider"></div>
      </div>
      <div class="col-md">
        <div class="arrow">
          <a class="store-link" routerLink="/junemanual"
            ><h6 class="store-header">Manual Orders</h6></a
          >
          <img class="r-arrow" src="./assets/rightarrow.svg" alt="" />
        </div>

        <h2 class="store-total">$12.00</h2>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
<div id="footer" class="footer">
  <app-footer></app-footer>
</div>
