<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/home">InkPressions | YFW</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View By Store
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/amazon">Amazon</a>
            <a class="dropdown-item" routerLink="/etsy">Etsy SugarPlumLiam</a>
            <a class="dropdown-item" routerLink="/tvso">TVSO</a>
            <a class="dropdown-item" routerLink="/manual">Manual Orders</a>
            <a class="dropdown-item" routerLink="/ucs">Ugly Christmas Sweater</a>
            <a class="dropdown-item" routerLink="/ucs">Mask Market</a>

          </div>
        </div>
      </li>
     
    </ul>
  </div>
</nav>