.navbar-brand {
    color: white;
    font-size: 1rem;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #3A4149;
    color: white;
}
.navbar-nav {
    display: flex;
   
    justify-content: space-between;
    color: white;
    text-decoration: none;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav-last {
    margin-left: auto;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    color: white;
    background-color: #005D57;
    width: 150%;
}
.dropdown-toggle {
    background-color: transparent;
    border: none;
    outline: none;
}
.dropdown-toggle:active {
    background-color: transparent;
    border: none;
    outline: none;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background-color: #097a73;
}
.mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
}
.store-nav {
    margin-top: 2%;
}

@media only screen and (min-width: 769px) {
    
    .dropdown {
        position: absolute;
        margin-right: 10%;
        right: 0;
    }
    .dropdown-item {
        color: white;
        padding: 10%;
    }
}