.navbar-brand {
    color: white;
    font-size: 1rem;
    margin-left: 2%;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #373740;
    /* #373740 */
    color: white;
}
.navbar-nav {
    display: flex;
    margin-left: 2%;
    color: white;
    text-decoration: none;
}
.nav-link {
    color: white;
    text-decoration: none;
}

.home {
    margin-left: auto;
    font-size: 1rem;
}
.dropdown-item {
    padding: 2%;
}
.dropdown-menu {
    color: white;
    background-color: #3A4149;
    width: 150%;
}
.toggler {
    background-color: transparent;
    border: none;
    outline: none;
}
.dropdown-togglex {
    background-color: transparent;
    border: none;
    outline: none;
}
.dropdown-toggle:active {
    background-color: transparent;
    border: none;
    outline: none;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background-color: #1EB980;
}
.mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
}
.store-nav {
    margin-top: 2%;
}

@media only screen and (min-width: 769px) {
    
    .dropdown-item {
        color: white;
        padding: 10%;
    }
    .navbar-brand {
        color: white;
        font-size: 1rem;
        margin-left: 20%;
    }
    .navbar-nav {
        display: flex;
        margin-left: 65%;
        color: white;
        text-decoration: none;
    }
}