<app-navbar></app-navbar>

<div class="container">
    <div class="col-lg">
        <div class="month-container">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle month-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change Month
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/home">January</a>
                  <a class="dropdown-item" routerLink="/febtotal">February</a>
                  <a class="dropdown-item" routerLink="/marchtotal">March</a>
                </div>
              </div>
        </div>
        <a class="store-link" href="#footer"><h6 class="store-header">March Total</h6></a>
        
        <h2 class="store-totalx">$10,621.66</h2>
    </div>
</div>
<div class="container">
    <h6 class="by-store">March By Store</h6>
</div>

<div class="container master">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/amazonmarch"><h6 class="store-header">Amazon</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
              <h2 class="store-total">$9,483.52</h2>
              <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/etsymarch"><h6 class="store-header">Etsy - SugarPlumLiam</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
                <h2 class="store-total">$557.50</h2>
                <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/tvsomarch"><h6 class="store-header">TVSO</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
                <h2 class="store-total">$66.90</h2>
                <div class="divider"></div>
            </div>
          </div>
    </div>
    <div class="container">
        <!-- <div class="row"> -->
            <!-- <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/tvso"><h6 class="store-header">TVSO</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
              <h2 class="store-total">$12.00</h2>
              <div class="divider"></div>
            </div> -->
            <!-- <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/manual"><h6 class="store-header">Manual Orders</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
             
                <h2 class="store-total">$141.52</h2>
                <div class="divider"></div>
            </div>
          </div> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/costumeagentmarch"><h6 class="store-header">Costume Agent</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
              <h2 class="store-total">$174.44</h2>
              <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/maskmarketmarch"><h6 class="store-header">Mask Market</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
               
                <h2 class="store-total">$164.25</h2>
                <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/manualfeb"><h6 class="store-header">Manual Orders</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
               
                <h2 class="store-total">$175.05</h2>
                <div class="divider"></div>
            </div>
          </div>
    </div>
</div>
<div id="footer" class="footer">
    <app-footer></app-footer>
</div>


