<app-navbar></app-navbar>

<div class="container">
    <div class="col-lg">
        <div class="month-container">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle month-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change Month
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/home">January</a>
                  <a class="dropdown-item" routerLink="/febtotal">February</a>
                </div>
              </div>
        </div>
        <a class="store-link" href="#footer"><h6 class="store-header">January Total</h6></a>
        
        <h2 class="store-totalx">$13,050.81</h2>
    </div>
</div>
<div class="container">
    <h6 class="by-store">Jan. By Store</h6>
</div>

<div class="container master">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/amazon"><h6 class="store-header">Amazon</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
              <h2 class="store-total">$10,116.45</h2>
              <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/etsy"><h6 class="store-header">Etsy - SugarPlumLiam</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
                <h2 class="store-total">$284.50</h2>
                <div class="divider"></div>
            </div>
          </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/tvso"><h6 class="store-header">TVSO</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
              <h2 class="store-total">$12.00</h2>
              <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/manual"><h6 class="store-header">Manual Orders</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
             
                <h2 class="store-total">$191.82</h2>
                <div class="divider"></div>
            </div>
          </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/ucs"><h6 class="store-header">Ugly Christmas Sweater</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
              <h2 class="store-total">$43.04</h2>
              <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/maskmarket"><h6 class="store-header">Mask Market</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
               
                <h2 class="store-total">$121.50</h2>
                <div class="divider"></div>
            </div>
            <div class="col-md">
                <div class="arrow">
                    <a class="store-link" routerLink="/costumeagent"><h6 class="store-header">Costume Agent</h6></a>
                    <img class="r-arrow" src="./assets/rightarrow.svg" alt="">
                </div>
               
                <h2 class="store-total">$2,281.50</h2>
                <div class="divider"></div>
            </div>
          </div>
    </div>
</div>
<div id="footer" class="footer">
    <app-footer></app-footer>
</div>
